/* .user-bio {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.user-bio h2 {
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.profile-img {
    height: 6rem;
    width: 5rem;
    border-radius: 1rem;
}

.books {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.userBook-details-container {
    display: flex;
    align-items: flex-start;
    margin: 3rem
}
.userBook-details-container form{
    margin-right: 13rem;
}

.delete {
    justify-content: flex-end;
    display: flex;
    width: 8rem;
    margin-left: auto;
}

.filter-container {
    margin-left: 5rem;
} */