/* .user-bio {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.user-bio h2 {
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.profile-img {
    height: 6rem;
    width: 5rem;
    border-radius: 1rem;
}

.books {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.userBook-details-container {
    display: flex;
    align-items: flex-start;
    margin: 3rem
}
.userBook-details-container form{
    margin-right: 13rem;
}

.delete {
    justify-content: flex-end;
    display: flex;
    width: 8rem;
    margin-left: auto;
}

.filter-container {
    margin-left: 5rem;
} */

/* .carousel {
    width: auto;
    height: auto;
}
.carousel-item {
    height: 190px;
}

.image {
    border-radius: 20px;
}
 */

 .book {
    max-width: 345;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #fafafa;
 }

 .book-img {
     height: 300;
 }