.profile-container {
    display: flex;
    margin: 1rem;
    margin-left: 1rem
}

.search {
    display: block;
    margin-left: 5rem;
}

.library {
    display: block;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 3rem;
}

.library-book {
    margin-right: .5rem;
}

.books {
    margin: 1rem;
    margin-top: 5rem;
}

.filter-container {
    margin-left: 5rem;
    margin-top: 4.5rem;
}

.card {
    height: 50%;
    width: 20rem;
}