.search {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  h2 {
    justify-content: center;
    display: flex;
    margin-top: 10rem
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10rem;
    margin-top: 3rem;
  }

  .book {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: .3rem;
    margin-right: 4rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 5rem;
  }

  .book .button {
      justify-content: flex-start;
      display: flex;
      margin-left: 1rem;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }